<!-- info-dialog.component.html
//==========
//
//AUTHOR: Ecem Gulec (ecegulec35@gmail.com)
// CREATED: 2023-08-09
// UPDATED: 2023-08-16
-->
<div class="about">
    <h3>World Countries</h3>
    <h4>About</h4>
    <p>This web-based application displays the list of countries around the world and
        the detailed information of the selected country, such as country code, continent, population and
        map. It was deceloped using Angular Framework and Angular Material for the user interfaces.
    </p>

    <h4>Fair Use Disclaimer</h4>

    <p>Images (national flags and maps ) in this page have not specifically authorized by the copyright owner.
        All credits go to their rightful owner. This app is for educatinal purpose only.
    </p>

    <h4>Contact</h4>
    <p>Ecem Gulec</p>
    <strong>Email:</strong><a href="mailto:ecegulec35@gmail.com">Ecegulec35@gmail.com</a>
</div>
<div class="close">
    <mat-dialog-actions>
        <button mat-flat-button mat-dialog-close color="accent">CLOSE</button>
    </mat-dialog-actions>
</div>